---
import Container from "../shared/Container.astro";
import FormMensaje from "../forms/FormMensaje.astro";
import FormVentas from "../forms/FormVentas.astro";
import FormMetrogas from "../forms/FormMetrogas.astro";
import FormTrabaja from "../forms/FormTrabaja.astro";
import FormReclamos from "../forms/FormReclamos.astro";
---

<section id="contact" class="pb-20 pt-32 lg:pt-36">
    <Container
        className="flex flex-col midmd:flex-row gap-10 lg:gap-12 text-center"
    >
        <div
            class="mx-auto text-center max-w-xl md:max-w-2xl relative rounded-2xl bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 md:px-8"
        >
            <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
                <h2
                    class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
                >
                    Contáctate con nosotros
                </h2>
                <p
                    class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl"
                >
                    ¿Tienes un problema técnico? ¿Necesitas más información
                    sobre nuestro plan de negocio? Háganoslo saber.
                </p>

                <ul class="my-4 space-y-3">
                    <li>
                        <FormMensaje />
                    </li>
                    <li>
                        <FormVentas />
                    </li>
                    <li>
                        <FormMetrogas />
                    </li>
                    <li>
                        <FormTrabaja />
                    </li>
                    <li>
                        <FormReclamos />
                    </li>
                </ul>
            </div>
        </div>
    </Container>
    <!-- <button id="showToastButton">Mostrar Toast</button> -->

    <div
        id="toast-bottom-left"
        class="fixed flex items-center w-full max-w-xs p-4 space-x-4 text-gray-500 bg-white divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg shadow bottom-5 left-5 dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800 hidden"
        role="alert"
        style="z-index: 999"
    >
        <div
            class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200"
        >
            <svg
                class="w-5 h-5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
                <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                ></path>
            </svg>
        </div>
        <div class="pl-4 ms-4 text-sm font-normal">Enviado Correctamente.</div>
    </div>
</section>

<script>
    document.addEventListener("astro:page-load", () => {
        function initializeModal(
            buttonOpenId: string,
            buttonCloseId: string,
            buttonCloseXId: string,
            modalId: string,
        ) {
            console.log("Initializing modal with IDs:", buttonOpenId, buttonCloseId, buttonCloseXId, modalId);

            const buttonOpenModal = document.getElementById(
                buttonOpenId,
            ) as HTMLElement;
            const buttonCloseModal = document.getElementById(
                buttonCloseId,
            ) as HTMLElement;
            const buttonCloseModalX = document.getElementById(
                buttonCloseXId,
            ) as HTMLElement;
            const modal = document.getElementById(modalId) as HTMLElement;
            const body = document.body as HTMLElement;
            const btnToTop = document.getElementById(
                "btn-back-to-top",
            ) as HTMLElement;

            buttonOpenModal.addEventListener("click", function () {
                console.log("Opening modal...");
                showModal();
            });

            buttonCloseModal.addEventListener("click", function () {
                console.log("Closing modal...");
                closeModal();
            });

            buttonCloseModalX.addEventListener("click", function () {
                console.log("Closing modal with X button...");
                closeModal();
            });

            modal.addEventListener("click", function (event) {
                if (event.target === modal) {
                    console.log("Clicking outside modal...");
                    closeModal();
                }
            });

            function showModal() {
                console.log("Showing modal...");
                body.style.margin = "0";
                body.style.height = "100%";
                body.style.overflow = "hidden";

                btnToTop.style.zIndex = "0";
            }

            function closeModal() {
                console.log("Closing modal...");
                body.style.margin = "";
                body.style.height = "";
                body.style.overflow = "";

                btnToTop.style.zIndex = "999";
            }
        }

        initializeModal(
            "openModalMensaje",
            "closeModalMensaje",
            "closeModalXMensaje",
            "crud-modal-mensaje",
        );
        initializeModal(
            "openModalVentas",
            "closeModalVentas",
            "closeModalXVentas",
            "crud-modal-ventas",
        );
        initializeModal(
            "openModalMetro",
            "closeModalMetro",
            "closeModalXMetro",
            "crud-modal-metro",
        );
        initializeModal(
            "openModalTrabajo",
            "closeModalTrabajo",
            "closeModalXTrabajo",
            "crud-modal-trabajo",
        );
        initializeModal(
            "openModalReclamos",
            "closeModalReclamos",
            "closeModalXReclamos",
            "crud-modal-reclamos",
        );
    });
</script>

<script>
    const showToastButton = document.getElementById(
        "showToastButton",
    ) as HTMLElement;
    const toast = document.getElementById("toast-bottom-left") as HTMLElement;

    showToastButton.addEventListener("click", function () {
        console.log("Showing toast...");
        toast.classList.remove("hidden");

        setTimeout(function () {
            console.log("Hiding toast...");
            toast.classList.add("hidden");
        }, 3000);
    });
</script>

