---
import Features from "../components/sections/Features.astro";
import WhoAre from "../components/sections/WhoAre.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="about-us">
    <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
        <section class="relative pt-32 lg:pt-36">
            <WhoAre />
            <Features />
        </section>
    </main>
</Layout>