---
import Container from "../components/shared/Container.astro";
import Title from "../components/shared/Title.astro";
import Layout from "../layouts/Layout.astro";
import { EXPERIENCE_IMG } from "../mock/public-img";
---

<Layout title="Experencia">
    <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
        <Container className={"flex flex-col lg:flex-row gap-32 lg:gap-32"}>
            <div class="absolute right-0 top-0 h-full w-full flex justify-end">
                <div
                    class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl"
                >
                    <span
                        class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
                    ></span>
                    <span
                        class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
                    ></span>
                    <span
                        class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
                    ></span>
                </div>
            </div>
            <div class="absolute left-0 bottom-0 h-full w-full flex items-end">
                <div
                    class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl"
                >
                    <span
                        class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
                    ></span>
                    <span
                        class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
                    ></span>
                    <span
                        class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
                    ></span>
                </div>
            </div>
            <section class="relative pt-32 lg:pt-36">
                <section
                    class="relative animate-fade-left animate-once animate-delay-[400ms] animate-ease-in animate-normal animate-fill-backwards mb-10"
                    id="nuestros-proyectos"
                >
                    <div class="text-center max-w-3xl mx-auto mb-24">
                        <Title>Proyectos</Title>
                    </div>
                    <div
                        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-2"
                    >
                        {
                            EXPERIENCE_IMG.map((itm) => (
                                <div class="relative w-full h-80">
                                    <img
                                        class="absolute inset-0 h-full w-full object-cover rounded-lg"
                                        src={itm.url}
                                        alt="generic-alt"
                                        loading="lazy"
                                    />
                                </div>
                            ))
                        }
                    </div>
                </section>
                <section class="relative mb-10">
                    <div class="text-center max-w-3xl mx-auto mb-24 mt-24">
                        <div
                            class="w-full p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700"
                        >
                            <h5
                                class="mb-2 text-3xl font-bold text-gray-900 dark:text-white"
                            >
                                Nuestros años en el mercado y proyectos nos
                                respaldan.
                            </h5>

                            <blockquote
                                class="text-xl italic font-semibold text-gray-900 dark:text-white text-center md:text-justify"
                            >
                                <svg
                                    class="w-8 h-8 text-gray-400 dark:text-gray-600 mb-4"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor"
                                    viewBox="0 0 18 14"
                                >
                                    <path
                                        d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"
                                    ></path>
                                </svg>
                                <p>
                                    "Durante décadas, hemos trabajado en
                                    licitaciones para diversas entidades
                                    gubernamentales y empresas de servicios,
                                    incluyendo luz, agua, gas, televisión y
                                    fibra óptica. Gracias a nuestros 40 años de
                                    experiencia, contamos con el conocimiento,
                                    el equipo y la capacidad necesaria para
                                    satisfacer una amplia gama de necesidades de
                                    servicios empresariales."
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <!-- Primer div -->
                        <div class="rounded-full flex flex-col h-[400px]">
                            <div
                                class="relative py-8 md:py-10 px-6 md:px-8 bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 md:text-left mt-4 text-center flex flex-col justify-center items-center h-full"
                            >
                                <h3
                                    class="text-lg font-semibold text-gray-900 dark:text-white mb-4"
                                >
                                    EDENOR
                                </h3>
                                <p
                                    class="text-xl text-gray-900 dark:text-gray-200 flex-grow flex-shrink"
                                >
                                    - Lectura de medidores<br />
                                    - Lectura y distribución de facturas<br />
                                    - Proyecto y documentación técnica<br />
                                    - Investigación y localización de conexiones
                                    de energía clandestinas<br />
                                    - Inspecciones de suministro<br />
                                    - Investigación y localización de conexiones
                                    de energía clandestinas
                                </p>
                            </div>
                        </div>
                        <!-- Segundo div -->
                        <div class="rounded-full flex flex-col h-[400px]">
                            <div
                                class="relative py-8 md:py-10 px-6 md:px-8 bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 md:text-left mt-4 text-center flex flex-col justify-center items-center h-full"
                            >
                                <h3
                                    class="text-lg font-semibold text-gray-900 dark:text-white mb-4"
                                >
                                    METROGAS
                                </h3>
                                <p
                                    class="text-xl text-gray-900 dark:text-gray-200 flex-grow flex-shrink"
                                >
                                    - Lectura y distribución<br />
                                    - Corte y rehabilitación<br />
                                    - Rehabilitaciones de suministro, verificaciones,
                                    instalación, sustitución, colocación y retiro
                                    de medidores
                                </p>
                            </div>
                        </div>
                        <!-- Tercer div -->

                        <div class="rounded-full flex flex-col h-[400px]">
                            <div
                                class="relative py-8 md:py-10 px-6 md:px-8 bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 md:text-left mt-4 text-center flex flex-col justify-center items-center h-full"
                            >
                                <h3
                                    class="text-lg font-semibold text-gray-900 dark:text-white mb-4"
                                >
                                    CAMUZZI GAS PAMPEANA S.A
                                </h3>
                                <p
                                    class="text-xl text-gray-900 dark:text-gray-200 flex-grow flex-shrink"
                                >
                                    - Distribución efectiva de facturas.<br />
                                    - Envío de avisos sobre deudas pendientes.<br
                                    />
                                    - Procesamiento rápido de solicitudes de corte
                                    y rehabilitación de servicios.<br />
                                    - Registro preciso de lecturas de medidores para
                                    un control adecuado del consumo.
                                </p>
                            </div>
                        </div>

                        <div class="rounded-full flex flex-col h-[400px]">
                            <div
                                class="relative py-8 md:py-10 px-6 md:px-8 bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 md:text-left mt-4 flex flex-col justify-center items-center h-full"
                            >
                                <h3
                                    class="text-lg font-semibold text-gray-900 dark:text-white mb-4"
                                >
                                    GAS NATURAL FENOSA
                                </h3>
                                <p
                                    class="text-xl text-gray-900 dark:text-gray-200 flex-grow flex-shrink"
                                >
                                    - Auditoría de calidad de instalaciones
                                    internas y tareas de actualización<br />
                                    - Auditorías de empresas contratistas<br />
                                    - Soporte técnico y administrativo<br />
                                    - Soporte administrativo de base de datos<br
                                    />
                                    - Lectura de registradores de presión y caudal
                                </p>
                            </div>
                        </div>

                        <div class="rounded-full flex flex-col h-[400px]">
                            <div
                                class="relative py-8 md:py-10 px-6 md:px-8 bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 md:text-left mt-4 text-center flex flex-col justify-center items-center h-full"
                            >
                                <h3
                                    class="text-lg font-semibold text-gray-900 dark:text-white mb-4"
                                >
                                    VENTA DE INSUMOS
                                </h3>
                                <p
                                    class="text-xl text-gray-900 dark:text-gray-200 flex-grow flex-shrink"
                                >
                                    - Municipalidad de San Miguel<br />
                                    - Municipalidad de Quilmes<br />
                                    - Municipalidad de Berazategui<br />
                                    - Municipalidad de Lanús<br />
                                    - Dirección de Vialidad<br />
                                    - Banco Central de la República Argentina<br
                                    />
                                    - Consejo de la Magistratura
                                </p>
                            </div>
                        </div>

                        <div class="rounded-full flex flex-col h-[400px]">
                            <div
                                class="relative py-8 md:py-10 px-6 md:px-8 bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 md:text-left mt-4 text-center flex flex-col justify-center items-center h-full"
                            >
                                <h3
                                    class="text-lg font-semibold text-gray-900 dark:text-white mb-4"
                                >
                                    EDESUR
                                </h3>
                                <p
                                    class="text-xl text-gray-900 dark:text-gray-200 flex-grow flex-shrink"
                                >
                                    - Corte y reposición de suministro<br />
                                    - Lectura T1/T2/T3 (reclamos y verificaciones)<br
                                    />
                                    - Servicio de normalización de medidores<br
                                    />
                                    - Servicio de recaudación<br />
                                    - Reparto de facturas<br />
                                    - Colocación y retiros de medidores y acometidas<br
                                    />
                                    - Control de inventario
                                </p>
                            </div>
                        </div>

                        <div class="rounded-full flex flex-col h-[400px]">
                            <div
                                class="relative py-8 md:py-10 px-6 md:px-8 bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 md:text-left mt-4 text-center flex flex-col justify-center items-center h-full"
                            >
                                <h3
                                    class="text-lg font-semibold text-gray-900 dark:text-white mb-24"
                                >
                                    GOBIERNO DE LA CIUDAD DE BUENOS AIRES
                                </h3>
                                <p
                                    class="text-xl text-gray-900 dark:text-gray-200 flex-grow flex-shrink"
                                >
                                    - Servicio de reenergización de cámaras de
                                    seguridad en la vía pública
                                </p>
                            </div>
                        </div>

                        <div class="rounded-full flex flex-col h-[400px]">
                            <div
                                class="relative py-8 md:py-10 px-6 md:px-8 bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 md:text-left mt-4 text-center flex flex-col justify-center items-center h-full"
                            >
                                <h3
                                    class="text-lg font-semibold text-gray-900 dark:text-white mb-24"
                                >
                                    AYSA
                                </h3>
                                <p
                                    class="text-xl text-gray-900 dark:text-gray-200 flex-grow flex-shrink"
                                >
                                    - Lectura de medidores
                                </p>
                            </div>
                        </div>

                        <div class="rounded-full flex flex-col h-[400px]">
                            <div
                                class="relative py-8 md:py-10 px-6 md:px-8 bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 md:text-left mt-4 flex flex-col justify-center items-center h-full"
                            >
                                <h3
                                    class="text-lg font-semibold text-gray-900 dark:text-white mb-24"
                                >
                                    MERCADOLIBRE
                                </h3>
                                <p
                                    class="text-xl text-gray-900 dark:text-gray-200 flex-grow flex-shrink"
                                >
                                    - Logística para el servicio de última milla
                                </p>
                            </div>
                        </div>

                        <div class="rounded-full flex flex-col h-[400px]">
                            <div
                                class="relative py-8 md:py-10 px-6 md:px-8 bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 md:text-left mt-4 flex flex-col justify-center items-center h-full"
                            >
                                <h3
                                    class="text-lg font-semibold text-gray-900 dark:text-white mb-24"
                                >
                                    COOPERATIVA TELEFÓNICA DE TORTUGUITAS
                                </h3>
                                <p
                                    class="text-xl text-gray-900 dark:text-gray-200 flex-grow flex-shrink"
                                >
                                    - Distribución de piezas postales y
                                    facturas.<br />
                                    - Instalaciones domiciliarias a abonados.<br
                                    />
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </Container>
    </main>
</Layout>
