---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import CTA from "../components/sections/CTA.astro";
import Brands from "../components/sections/Brands.astro";
import Contact from "../components/sections/Contact.astro";
import ServicesSection from "../components/sections/principal_sections/ServicesSection.astro";
import ConsultingSection from "../components/sections/principal_sections/ConsultingSection.astro";
import ExperienceSection from "../components/sections/principal_sections/ExperienceSection.astro";
---

<Layout title="Empresa">
  <main class="flex flex-col gap-y-16 md:gap-y-16 overflow-hidden">
    <Hero />
    <CTA />
    <Brands />
    <div class="w-full mx-auto max-w-full px-5 sm:px-8 md:px-14 lg:px-5 bg-[#f7f7f7]">
      <ServicesSection/>
    </div>
    <div class="w-full mx-auto max-w-full px-5 sm:px-8 md:px-14 lg:px-5 bg-[#f7f7f7]">
      <ConsultingSection/>
    </div>
    <ExperienceSection/>
    <Contact />
  </main>
</Layout>
