---
import Projects from "../components/sections/Projects.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="projects">
    <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
        <section class="relative pt-32 lg:pt-36">
            <Projects />
        </section>
    </main>
</Layout>