---
const { src, alt, description } = Astro.props;
---

<div class="flex flex-col items-center">
    <img
        class="icon-size mb-4"
        src={src}
        alt={alt}
        loading="lazy"
    />
    <div class="relative py-4 md:py-6 px-4 md:px-6 bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 text-center flex justify-center items-center fixed-size">
        <div class="absolute right-0 top-0 h-full w-full flex justify-end">
            <div class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl">
                <span class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"></span>
                <span class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"></span>
                <span class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"></span>
            </div>
        </div>
        <p class="text-xs md:text-sm lg:text-base text-gray-900 dark:text-white">
            {description}
        </p>
    </div>
</div>

<style>
    .icon-size {
        width: 130px;
        height: 130px;
    }
    .fixed-size {
        width: 100%;
        max-width: 300px;
        height: 300px;
    }
</style>
