<button
    type="button"
    data-te-ripple-init
    data-te-ripple-color="light"
    class="fixed bottom-5 right-5 rounded-full bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600 p-2.5 text-sm font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-[#4b665e] hover:shadow-lg focus:bg-[#059669] focus:shadow-lg focus:outline-none focus:ring-0 active:bg-[#4b665e] active:shadow-lg"
    id="btn-back-to-top"
>
    <!-- Icono de flecha hacia arriba -->
    <svg
        xmlns="http://www.w3.org/2000/svg"
        class="inline-block animate-bounce"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
    >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <polyline points="6 15 12 9 18 15"></polyline>
    </svg>
</button>

<script>
    const scrollView = () => {
        const mybutton = document.getElementById(
            "btn-back-to-top",
        ) as HTMLElement;
        document.addEventListener("scroll", () => {
            if (window.scrollY > 200) {
                mybutton.style.opacity = "1";
                mybutton.classList.add(
                    "animate-fade-left",
                    "animate-once",
                    "animate-ease-in",
                );
            } else {
                mybutton.style.opacity = "0";
                mybutton.classList.remove(
                    "animate-fade-left",
                    "animate-once",
                    "animate-ease-in",
                );
            }
        });

        mybutton.addEventListener("click", () => {
            window.scrollTo({
                top: 0,
                behavior: "smooth",
            });
        });
    };

    // Se ejecuta en la navegación inicial
    scrollView();
    // Se ejecuta en las transiciones de vista de navegación
    document.addEventListener("astro:after-swap", scrollView);
</script>

<style>
    #btn-back-to-top {
        z-index: 999;
        opacity: 0;
    }
</style>
